@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap');

*, body {
  font-family: 'Merriweather Sans', sans-serif !important;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

.ant-layout {
  overflow-y: auto;
  background: #1a1b1f;
  border: 1px solid #151515;
}



/* Atomic canvas layout CSS */

.ant-layout-header {
  background: #00152975;
  height: 48px;
  line-height: 48px;
}

.ant-modal-body {
  min-height: 625px;
}

.steps-content {
  min-height: 473px !important;
}

.atomic-canvas-root {
  display: flex;
  display: -webkit-flex;
  align-items: stretch;
  -webkit-align-items: stretch;
  height: 100%;
}

.atomic-canvas {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: row;
}

.atomic-canvas .atomic-canvas-list {
  background: #0f477b;
}

.atomic-canvas .atomic-canvas-list-even {
	background: #2165a2;
}

.atomic-canvas .pane {
  color: white;
	font-size: 36px;
	width: -webkit-fill-available;
  height: -webkit-fill-available;
  padding: 1px;
}

.atomic-canvas .list-group-item {
  width: 100%; 
  margin-top: 10px; 
  margin-bottom: 10px;
}

.create-card-composer {
  text-align: center;
  padding: 10px;
  font-size: 12px;
  width: 100%;
  border-radius: 5px;
  background-color:#00152970;
}

.create-card-composer:hover {
  cursor: pointer;
  background-color:#001529;
}

.goal-description {
  padding: 10px;
  background: #e0e0e05e;
  color: #444;
}

/* Drag-Drop Cards CSS */
.box {
  background: #ffffff1f;
  border: 1px solid #00000026;
}
.dark-box {
  background: #0000002e;
  border: 1px solid #00000026;
}
.transparent-box {
  background: transparent;
}
.ghost {
  opacity: 0;
}
.mt-10 {
  margin-top: 10px;
}
.mt-40 {
  margin-top: 40px;
}
.pt-40 {
  padding-top: 40px;
}
.mt-65 {
  margin-top: 65px;
}
.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}
.px-18 {
  padding-left: 18px !important;
  padding-right: 18px !important;
}
.px-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.px-8 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.goals-list .pane .ant-card {
  cursor: move;
}
.planboard-list .pane .ant-card {
  cursor: pointer;
}
.bb-0 {
  border-bottom: 0px;
}
.text-hint {
  color: #009688;
}
.text-muted {
  color: #00000073;
}
.text-underlined {
  text-decoration: underline;
  text-decoration-style: dashed;
}
.text-white {
  color: #fff;
}
.text-center {
  text-align: center;
}
.pull-left {
  text-align: left;
}
.pull-right {
  float: right!important;
  text-align: right;
}
.ant-btn-success,
.ant-btn-success:hover {
  color: #fff;
  background-color: #4CAF50;
  border-color: #009688;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}
.task-card .ant-card-body {
  padding-bottom: 0px !important; 
}
.task-card .footer {
  margin-top: 10px;
}

.cta-btn-warning, .cta-btn-warning:hover {
  border-color: #FF6F00;
  background-color: #FF8F00;
  background-image: linear-gradient(-180deg, #FFA000, #FFC107 90%);
  color: #ffffff;
}
.cta-btn-succes, .cta-btn-succes:hover {
  border-color: #029824;
  background-color: #28a745;
  background-image: linear-gradient(-180deg,#34d058,#28a745 90%);
  color: #ffffff;
}
.cta-btn-danger, .cta-btn-danger:hover {
  border-color: #212121;
  background-color: #424242;
  background-image: linear-gradient(-180deg, #616161, #757575 90%);
  color: #ffffff;
}

.visible {
  // visibility: visible;
  // opacity: 0.1;
  transition: opacity 0.15s linear;
}
.hidden {
  pointer-events: none;
  opacity: 0.2;
  transition: visibility 1s 1s, opacity 1s linear;
}
.no-user-select {
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}
/* Fields */
input[type=text], input[type=number] {
  -webkit-user-select: auto; /* Safari 3.1+ */
  -moz-user-select: auto; /* Firefox 2+ */
  -ms-user-select: auto; /* IE 10+ */
  user-select: auto; /* Standard syntax */
}



