  @import url('https://fonts.googleapis.com/css?family=Pacifico|Nunito&display=swap');


  .theme--light.v-application {
    background: transparent !important;
  }

  .theme--dark.v-navigation-drawer {
    background-color: transparent !important;
  }

  .bg-mobile {
    background: #FFEA00;
  }

  .bg-default {
    background: transparent;
  }
  
  .border-bottom-light-grey {
    border-bottom: 1px solid #ffffff1f !important;
    // border-top-left-radius: 16px !important;
    // border-top-right-radius: 16px !important;
    // padding-top: 8px;
    // -webkit-box-shadow: 0px -9px 14px -6px rgba(0,0,0,0.26);
    // -moz-box-shadow: 0px -9px 14px -6px rgba(0,0,0,0.26);
    // box-shadow: 0px -9px 14px -6px rgba(0,0,0,0.26);
  }

  .outlined {
    border: 1px solid #efefef;
  }

  .select-option.v-list-item--active {
    color: white;
  }

  .v-stepper {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }

  .page-enter-active, .page-leave-active {
    transition: all 0.2s;
  }
  .page-enter, .page-leave-active {
    opacity: 0;
    transform: translateX(-100%);
  }

  #questions_list .v-list-item__title, 
  #habitList .v-list-item__title {
    overflow: visible;
    text-overflow: unset;
    white-space: normal;
  }

.light-background {
  background: #ffffff57;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
}
  
/* This is for documentation purposes and will not be needed in your application */
#atomic-canvas .v-btn--fab {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 101;
}

#atomic-canvas .selectDate  .v-text-field__details {
  display: none;
}

#dash-header {
  height: 420px;
}

.max-height-50 {
  max-height: 50px;
}

.ga-pacifico {
  font-family: 'Pacifico', cursive;
}

.ga-nunito {
  font-family: 'Nunito', sans-serif;
}

.px-15 {
  margin: 0px 15px;
}

.ghost {
  opacity: 0;
}

.gradient-radial {
  background: rgba(255,255,255,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(237,237,237,0.6) 87%, rgba(237,237,237,0.54) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(87%, rgba(237,237,237,0.6)), color-stop(100%, rgba(237,237,237,0.54)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(237,237,237,0.6) 87%, rgba(237,237,237,0.54) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(237,237,237,0.6) 87%, rgba(237,237,237,0.54) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(237,237,237,0.6) 87%, rgba(237,237,237,0.54) 100%);
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(237,237,237,0.6) 87%, rgba(237,237,237,0.54) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
}
