  @import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

  body {
    background: url('https://images.unsplash.com/photo-1564473185935-58113cba1e80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80');
    background-size: cover;
  }

  .theme--light.v-application {
    background: transparent !important;
  }

  .theme--dark.v-navigation-drawer {
    background-color: transparent !important;
  }

  .bg-mobile {
    background: #FFEA00;
  }

  .bg-default {
    background: transparent;
  }
  
  .top-shaped {
    border: 1px solid #e0e0e0 !important;
    border-top-left-radius: 16px !important;
    border-top-right-radius: 16px !important;
    padding-top: 8px;
    // -webkit-box-shadow: 0px -9px 14px -6px rgba(0,0,0,0.26);
    // -moz-box-shadow: 0px -9px 14px -6px rgba(0,0,0,0.26);
    // box-shadow: 0px -9px 14px -6px rgba(0,0,0,0.26);
  }

  .outlined {
    border: 1px solid #efefef;
  }

  .select-option.v-list-item--active {
    color: white;
  }

  .v-stepper {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }

  .page-enter-active, .page-leave-active {
    transition: all 0.2s;
  }
  .page-enter, .page-leave-active {
    opacity: 0;
    transform: translateX(-100%);
  }

  #questions_list .v-list-item__title, 
  #habitList .v-list-item__title {
    overflow: visible;
    text-overflow: unset;
    white-space: normal;
  }

  #habitList.theme--light.v-list {
    background: #ffffffe6 !important;
  }
  
  /* This is for documentation purposes and will not be needed in your application */
  #atomic-canvas .v-btn--fab {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 101;
  }

  #dash-header {
    height: 420px;
  }

  .max-height-50 {
    max-height: 50px;
  }

  .ga-pacifico {
    font-family: 'Pacifico', cursive;
  }

  .px-15 {
    margin: 0px 15px;
  }